.tencent-payment-upload{
	position: relative;;
}
.tencent-payment-upload .operator{
	padding-left: 2px;
}
.clearfix:before, .clearfix:after { content:""; display:table }
.clearfix:after { clear:both }
.clearfix { zoom:1 }
.tencent-payment-upload .operator .icon-add {
	border: 2px solid #d9d9d9;
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
}
.tencent-payment-upload .operator{
	display: inline-block;
	position: relative;
	height: 54px;
}
.tencent-payment-upload .operator input{
	top: 0;
	left: 0;
	height: 54px;
	width: 54px;
	display: block;
	position: absolute;
	opacity: 0;
}
.tencent-payment-upload .operator .icon-add::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 23px;
	width: 4px;
	height: 36px;
	background: #d9d9d9;
}
.tencent-payment-upload .operator .icon-add::before {
	content: "";
	position: absolute;
	top: 23px;
	left: 7px;
	width: 36px;
	height: 4px;
	background: #d9d9d9;
}
.tencent-payment-upload .title .tx-thin {
	line-height: 30px;
	color: gray;
	font-size: 12px;
}
.tencent-payment-upload .imageview{
	position: relative;
}
.tencent-payment-upload .imageview .viewsnapimage{
	float: left;
}
.tencent-payment-upload .imageview .preimage{
	border: 1px solid #d9d9d9;
	padding: 1px;
}
.dialogview .dialogview-tool{
	position: absolute;
	cursor: pointer;
	right: 6px;
	top: 6px;
}
.dialogview .dialogview-tool .img-check .icon-status{ background-image:url(/h5/images/sdk/icon-suc.png);}
.dialogview .dialogview-tool .img-check{width:32px; height:32px; display:block;}
.dialogview .dialogview-tool .img-check .icon-status{width:24px;height:24px;display: block;background-size: contain;background-position: 0 0;background-repeat: no-repeat;}
.dialogview .dialogview-tool .nocheck .icon-status{background-image:url(/h5/images/sdk/icon-nocheck.png);}
.dialogview{	
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 50001;
}
.dialogview .dialogview-content{
	text-align: center;
	margin: 20px 0px 0px;
}
.dialogview .dialogview-content .image-title{
	margin-top: -25px;
	font-size: 16px;
	color:#fff;
}
.dialogview .dialogview-content .image-title span{
	background-color: rgba(255,255,255,0.5);
	border-radius: 2px;
	padding: 2px;
	text-decoration: none;
}