.field {
	padding: 0 5px;
	border: 1px solid #d6d6d6;
	background: #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 110px;
	padding-right: 30px;
	margin-bottom: 15px;
	position: relative;
}
input{
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	font-size: 15px;
	height: 40px;
	line-height: normal;
	outline: medium none;
}
.field label {
	position: absolute;
	top: 10px;
	left: 5px;
}
.field input{
	width: 100%;
}
.field button {
	position: absolute;
	right: 5px;
	top: 0;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.icon-del, .icon-del:after {
	width: 16px;
	height: 16px;
	display: block
}
.icon-del {
	background: #ccc;
	-moz-border-radius: 16px;
	border-radius: 16px
}
.icon-del:after {
	content: "";
	background-size: 8px 8px;
	background: url(http://imgcache.qq.com/bossweb/h5pay/images/icon-deltext.png) no-repeat center center
}
.focus{
	border: 1px solid #fd9e4b;
	-moz-box-shadow: 0 0 2px #fbac66;
	box-shadow: 0 0 2px #fbac66
}
.fz-big {
	font-size: 16px
}
.tips{
	background-image: url(http://imgcache.qq.com/bossweb/h5pay/images/icon-tipwarn.png);
	background-repeat: no-repeat;
	padding-left:24px;
	line-height: 16px;
	font-size: 12px;
	color: #C00;
}
.button{
	margin-bottom: 10px;
	background: #f70;
	font-size: 18px;
	border-radius: 2px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	color: #fff;
	cursor: pointer;
}