/*radio Tap选择*/
.tencent-payment-amount .controls-option {width:100%;   border-top: 1px solid #dedfe0; 	background-color: #fff;border-bottom: 1px solid #dedfe0;}
.tencent-payment-amount .controls-option a{
	width: 25%;
	float: left;
	border-left: 1px solid #dedfe0;
	background-color: #fff;
	height: 42px;
	line-height: 42px;
	text-align: center;
	display: inline-block;
	color: #00a5e0;
	overflow: hidden;
	position: relative;
	margin-left: -1px;
}
.tencent-payment-amount .controls-option a.current {
	color: #fff;
	background: #00a5e0;
	border-left: 1px solid #00a5e0;
	box-shadow: none;
}
.tencent-payment-amount .controls-option  a:last-child{border-right:0;}

.tencent-payment-amount .controls-option  input{	width: 98%;
	margin-left: 0;
	display: block;
	text-align: center;
    font-size: 15px;
    height:40px;
	color: #fff
}
.tencent-payment-amount .controls-option  input{ margin: 0;}
.tencent-payment-amount .controls-option a.current {
	color: #fff;
	background: #00a5e0;
	border-left: 1px solid #00a5e0;
	box-shadow: none;
}
.tencent-payment-amount .controls-option a input::-webkit-input-placeholder{text-align: center; vertical-align: middle; display: block; color: #00a5e0; }
/*.tencent-payment-amount .controls-option a.current input{display: block;}
.tencent-payment-amount .controls-option a.current span{display: none;}*/
.tencent-payment-amount .controls-option i{display: none;}
.tencent-payment-amount .controls-option .input-before i{display: block; color: #00a5e0; font-style:normal; font-size: 15px;}
.tencent-payment-amount .controls-option .input-before input{position: absolute; top:0; left: 0;}
.tencent-payment-amount .field-divice .checkout {
	margin-left: 10px;
	margin-right: 10px;
	margin: 10px;
	margin-top: 5px;
}
.tencent-payment-amount .checkout {
	margin: 5px 10px 0 10px;
	font-size: 14px;
}